
<form class="form-inline" role="form">
	  <div class="form-group"> 
    	<label class="sr-only" for="exampleInputEmail2">Enter Email</label>
	    <input type="string" class="form-control" id="exampleInputEmail2" placeholder="Enter Email">
	  </div>
	  <div class="form-group">
	    <label class="sr-only" for="exampleInputPassword2">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
	  </div>
	  <div>
	  	<%= button_to 'Log in', recipes_path, method: :get, class: 'btn btn-default', id: 'logIn' %>

	  	<%= button_to 'New User', new_user_path, method: :get, class: 'btn btn-default', id: 'newUser' %>
	  </div>
	
</form>




 <!-- <div class="container">	
	<%#= form_for(@user) do |f| %>
		<div class="field">
			<%#= f.label :username %>
			<%#= f.text_field :username %>
		</div>
		
		<div class="field">
			<%#= f.label :password %>
			<%#= f.text_field :password %>
		</div>	

		<%#= button_to 'Log in', recipes_path, method: :get, class: 'btn btn-default', id: 'logIn' %>

	  	<%#= button_to 'New User', new_user_path, method: :get, class: 'btn btn-default', id: 'newUser' %>

	<%# end %>

	  
</div> -->