<h1>Spoon.ly</h1>
<h2>Come spoon with me!</h2>

<div class="main">
	<ul>
		<% @recipes.each do |recipe| %>
			<li>
				<h3>
					<%= link_to recipe.title, recipe %>
				</h3>	
			</li>
		<% end %>
	</ul>
</div>
