<%= render partial: '/layouts/navbar' %>

<h2>Spoon.ly</h2>
<h3>Come spoon with me!</h3>

<div class="main">
	<ul>
		<% @recipes.each do |recipe| %>
			<li>
				<h3>
					<%= link_to recipe.title, recipe %>
				</h3>	
			</li>
		<% end %>
	</ul>
</div>
<br />
<br />
<%= link_to 'Profile', users_path %>
<br />
<%= link_to 'Create A New Recipe', new_recipe_path %>