<h1>My Profile</h1>

<h4>
	<%= current_user ? current_user.username : "(logged in)" %> 
</h4>

<h3>My Recipes</h3>

<br />
<br />
<br />
<p>
	<%= button_to "Log out", auths_path, method: :delete %>
</p> 