<div class="createuser" id="newUser">
    <h1>Create your User Profile</h1>
    <%=form_for @user do |f|%>
        <%=f.text_field :username, :placeholder => "Enter your username"%><br>
        <%=f.password_field :password, :placeholder => "Enter password" %><br>

        <%= f.submit "Create A New User" %>
    <% end %>
</div>