<%= render partial: '/layouts/navbar' %>
<h1>My List</h1>

<h4>
	<%= current_user ? current_user.username : "(logged in)" %> 
</h4>

<h3><u>My Recipes</u></h3>
<br />
<br />
<br />
<br />
<%= link_to 'Go to Recipe Page', recipes_path %>
<br />

<p>
	<%= button_to "Log out", auths_path, method: :delete, class: 'logOutBtn' %>
</p> 