@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Fascinate|Poller+One|Abril+Fatface);


body {
	font-family: 'Abril Fatface', cursive;
	background-color: white;
	text-decoration: none;
}

body.userEdit {
	background-image: url(multicolored_painted_spoons.jpg);
	position: center;
	background-repeat: no-repeat;
}

body.editPage {
	background-image: url(spice_spoons.jpg);
	position: center;
	background-repeat: no-repeat;
}

body.homePage {
	background-image: url(silver_sensations_1.jpg);
	position: center;
	background-repeat: no-repeat;
}

body.profilePage {
	background-image: url(multicolored_painted_spoons.jpg);
	position: center;
	background-repeat: no-repeat;
}

body.authPage {
	background-image: url(spoon_rack_bike.jpg);
	position: center;
	background-repeat: no-repeat;
}

a {
	color: #004C66;
}

a:hover {
	text-decoration: none;
}

.img-thumbnail {
	margin: 0 auto;
	height: 550px;
}

#carousel {
	background-color: white;
}

.btn { 
	background-color: #009900;
	color: white;
}

.btn:hover { 
	background-color: #33FF33;
	color: white;
}

#logIn {
	bottom: 35px;
	left: 330px;
	position: absolute;
}

.img-file {
	margin: 0 auto;
	text-align: center;
	left: 400px;
}

#recipe_image {
	margin: 0 auto;
	width: 180px;
}

/* edit/new recipe

.text-center {
	left: 400px;
}


/* show recipe */

#ingredients {
	width: 200px;
	margin: 0 auto;
}

#instructions {
	width: 450px;
	margin: 0 auto;
}

