<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    var availableTags = [
      "Strawberries Drenched in Honeyed Cream",
      "Onion Tart",
      "The Perfect Salad",
      "Mac and Cheese",
      "Fig Basil and Goat Cheese Salad",
      "Mexican Hot Chocolate",
      "Homemade Whipped Cream",
      "Salted Caramel Brownies",
      "Buttermilk Biscuits",
      "Croque Madame",
      "Fried Chicken with Buttermilk Biscuits",
      "Honey Glazed Salmon",
      "Marinated Bufflo Mozzarella and Tomato Salad",
      "Crisped Rosemary Chicken",
      "Thousand Layer Lasagna",
      "Recipes",
      "Profile",
      "Grazing",
      "Comfort Food",
      "Salads",
      "Desserts"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>
</head>
<body>
 
<div class="ui-widget">
  <label for="tags"> </label>
  <input id="tags">
</div>
 
 
</body>
</html>